body {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0ex;
    position: relative;
    overflow: auto;
}

header {
    background-color: yellow;
    text-align: center;
    color: blue;
    padding: 5px;
    margin: 40px;
    margin-bottom: 15px;
}

.instruction {
    background-color: yellow;
    text-align: left;
    color: blue;
    padding: 10px;
    margin: 10px;
    margin-left: 55px;
}

.crystalImage {
    width: 170px;
    margin: 20px;
    margin-left: 40px;
}